.bot-position {
	display: scroll;
    position: fixed;	
}

#buttonBot {
    bottom: 2%;
    right: 2%;
}

#buttonBot img {
    width: 80px;
    height: 80px;
}

#chatbox {
    background-color: #F5F7FD;
	margin: 20px auto 0;
	width: 400px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
	
	overflow: hidden;
	bottom: 0%;
    right: 1%;
}

#chatbox .header {
    background-color: #2E0E36;
	color: WHITE;
	padding: 10px;
	text-align: center;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

#message {
	background-color: #5E2D4F;
	margin: 0 auto;
	padding: 10px;
}

#chatbox #conversation {
	padding: 10px;
	height: 400px;
	width: 400px;
	overflow-y: scroll;
}

#chatbox #conversation .sended-message {
	margin-bottom: 30px;
}

#chatbox #conversation .sended-message .content {
	border-radius: 5px;
	vertical-align: top;
	width: 280px;
	padding: 15px;
	display: inline-block;
	font-size: 15px;
}

#chatbox #conversation .message-own .content {
	background-color: #CBBBEB;
}

#chatbox #conversation .message-bot .content {
	background-color: WHITE;
}