{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/custom-chat.css' %}"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'js/access-token-agent.js' %}"></script>
<script src="{% static 'js/chat.js' %}"></script>

<a id='buttonBot' class="bot-position"><img src="{% static 'img/bot.png' %}"></img></a>

<div id="chatbox" class="bot-position" hidden>
    <div id="minimize" class="header">
        ULLBot
	</div>
	<div id="conversation"></div>
    <div id="message">
    	<input class="container" id="input" type="text" placeholder="Escribir mensaje...">
    </div>
</div>